.login-app {
	background-image: url('/public/img/fondo-login.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo-login {
	margin: 40px 0;
}